.btn {
  padding: 0 3.031rem;
  text-transform: capitalize;
  box-shadow: none !important;
  color: $white-color;
  line-height: 62px;
  border: $base-color 0.063rem solid;
  font-size: 16px;
  background: $base-color;

  &:hover {
    background: $base-color-two;
    color: var(--bs-white);
    border-color: $base-color-two;
  }
  &.btn-outline-primary {
    color: $base-color;
    background: transparent;
    border-color: $base-color;
    &:hover {
      background: $base-color-two;
      color: var(--bs-white);
      border-color: $base-color-two;
    }
  }
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
