@font-face {
  font-family: "Rowdies";
  src: url("../fonts/Rowdies Bold.eot");
  src: url("../fonts/Rowdies Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rowdies Bold.woff2") format("woff2"),
    url("../fonts/Rowdies Bold.woff") format("woff"),
    url("../fonts/Rowdies Bold.svg#Rowdies Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
  font-style: swap;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("../fonts/Inter 28pt Bold.eot");
  src: url("../fonts/Inter 28pt Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter 28pt Bold.woff2") format("woff2"),
    url("../fonts/Inter 28pt Bold.woff") format("woff"),
    url("../fonts/Inter 28pt Bold.svg#Inter 28pt Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-EE07;
  font-style: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("../fonts/Inter 28pt Regular.eot");
  src: url("../fonts/Inter 28pt Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter 28pt Regular.woff2") format("woff2"),
    url("../fonts/Inter 28pt Regular.woff") format("woff"),
    url("../fonts/Inter 28pt Regular.svg#Inter 28pt Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-EE07;
  font-style: swap;
}
@font-face {
  font-family: "Rowdies Light";
  src: url("../fonts/Rowdies Light.eot");
  src: url("../fonts/Rowdies Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rowdies Light.woff2") format("woff2"),
    url("../fonts/Rowdies Light.woff") format("woff"),
    url("../fonts/Rowdies Light.svg#Rowdies Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

$base-color: #0d3ca0;
$base-color-two: #9d2929;
$dark: #40444c;
$body-color: #484848;
$white-color: #fff;
$base-font: "Inter 28pt";
$heading-font: "Rowdies";
